.fav-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.fav-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.fav-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fav-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  min-width: 280px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.fav-image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.fav-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fav-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 4px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.fav-content {
  padding: 15px;
}

.fav-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.fav-price {
  color: #f4a300;
  font-weight: 500;
  margin-bottom: 10px;
}

.fav-book-btn {
  background-color: #e0b54c;
  color: white;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
