
.journal-section {
  background-color: #fff;
  max-width: 1800px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.journal-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
  font-weight: 500;
  text-transform: capitalize;
}

.underline.journal { 
  width: 80px;
  height: 4px;
  background-color: var(--highlight-color);
  margin: 0 auto 20px;
  border-radius: 2px;
}

.journal-description {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 40px;
  font-weight: 300;
}

.journal-grid {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  text-align: left;
}
.read-more {
  font-size: 0.9rem;
  color: #f4b400;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: #d49f00;
}

.journal-card {
  background: #fff;
  width: 300px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.journal-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.journal-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f2f2f2;
  color: #000;
  padding: 5px 10px;
  font-size: 0.7rem;
  border-radius: 12px;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 2;
}

.journal-date {
  font-size: 0.85rem;
  color: #555;
  margin: 15px 20px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.calendar-icon {
  color: #000;
}

.journal-card-title {
  font-size: 1.05rem;
  margin: 0 20px 10px;
  color: #222;
  font-weight: 500;
}

.journal-card-description {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
  margin: 0 20px 20px;
  font-weight: 300;
}

.read-more {
  margin: 0 20px 20px;
  font-size: 0.9rem;
  color: var(--highlight-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
}

.view-all-wrapper {
  text-align: center;
}

.view-all-btn {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 12px 28px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.view-all-btn:hover {
  background-color: white;
}
